# Redis Master Node API
# Environment Configuration Example

# Master Node Configuration
REDIS_MASTER_HOST=192.168.8.105
REDIS_MASTER_PORT=7003
REDIS_MASTER_DB=0

# Slave Nodes Configuration
REDIS_SLAVE1_HOST=192.168.8.103
REDIS_SLAVE1_PORT=7001
REDIS_SLAVE1_DB=0

REDIS_SLAVE2_HOST=192.168.8.100
REDIS_SLAVE2_PORT=7004
REDIS_SLAVE2_DB=0

REDIS_SLAVE3_HOST=192.168.8.107
REDIS_SLAVE3_PORT=7005
REDIS_SLAVE3_DB=0

REDIS_SLAVE4_HOST=192.168.8.102
REDIS_SLAVE4_PORT=7002
REDIS_SLAVE4_DB=0

REDIS_SLAVE4_HOST=192.168.8.106
REDIS_SLAVE4_PORT=7006
REDIS_SLAVE4_DB=0

#REDIS_SLAVE5_HOST=10.108.135.175
#REDIS_SLAVE5_PORT=7003
#REDIS_SLAVE5_DB=0

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000
API_DEBUG=False
